<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              <div class="d-flex no-block align-items-center">
                <h4 class="card-title">Maintenance</h4>
            </div>
  
            <hr>
  
            <button ejs-dropdownbutton [items]='items' content='Inst Id' style="color: cadetblue;"></button>
            <button ejs-dropdownbutton [items]='items1' content='Inst Name' style="color: cadetblue;"></button>
            <!-- <a class="btn btn-warn" >  <i class="fas fa-plus-circle" style="color: cadetblue;"></i> Add Parameter</a> -->
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="adddetails(content3)">Add Details</button>
            <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <ng-template #content3 let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title">Maintenance Details</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>

                      <div class="modal-body">
                        <p>One fine body&hellip;</p>
                      </div>


                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                      </div>
                    </ng-template>
                  </div>
                </div>
            </div>

            <hr>
            
            <div class="table-responsive">
                <ejs-grid [dataSource]='data' [allowSelection]='true'  [enableHover]='false'  [allowSorting]='true' e-gridheader=''>
                    <e-columns>
                  <e-column field='Sr No' headerText='Sr No' textAlign='Right' width=90></e-column>
                  <e-column field='Inst Id' headerText='Inst Id' width=150></e-column>
                  <e-column field='Inst Name' headerText='Inst Name' textAlign='Right' format='C2' width=150></e-column>
                  <e-column field='Last Occur Date' headerText='Last Occur Date' textAlign='Right' format='yMd' width=200></e-column>
                  <e-column field='Next Due Date' headerText='Next Due Date' textAlign='Right' width=170></e-column>
                  <e-column field='Type Of Breakdown' headerText='Type Of Breakdown' textAlign='Right' width=170></e-column>
                  <e-column field='Attachment' headerText='Attachment' textAlign='Right' format='C2' width=150></e-column>
                  <e-column field='Notes' headerText='Notes' textAlign='Right' format='yMd' width=120></e-column>
                  <e-column field='Edit' headerText='Edit' textAlign='Right' width=90></e-column>
                </e-columns>
                  </ejs-grid>
      </div>
  
          
            </div>
        </div>
    </div>
  </div>
  
  


