

                    <div class="row">
                      <div class="col-md-12">
                          <div class="card">
                            <div class="c_header">
                              <h4>Add Instrument</h4>
                                              </div>
                              <div class="card-body">
                                  
                                  
                                  <ngb-tabset #t="ngbTabset">

                                    <ngb-tab id="tab-selectbyid1" title="Master">
                                      <ng-template ngbTabContent>

                                        <form class="form-horizontal">
                                          <div class="card-body">
                                              <div class="form-group row">
                                                  <label for="Instrument ID" class="col-sm-2 control-label col-form-label">Instrument ID:</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" class="form_control" id="Instrument ID" placeholder="">
                                                  </div>
                                                  <label for="Instrument Name" class="col-sm-2 control-label col-form-label">Instrument Name:</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" class="form-control" id="Instrument Name" placeholder="">
                                                  </div>
                                              </div>
                                             
                                              <div class="form-group row">
                                                  <label for="Make" class="col-sm-2 control-label col-form-label">Make:</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" class="form_control" id="Make" placeholder="">
                                                  </div>
                                                  <label for="Model" class="col-sm-2 control-label col-form-label">Model:</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" class="form_control" id="Model" placeholder="">
                                                  </div>
                                              </div>
                                             

                                              <div class="form-group row">
                                                <label for="Image" class="col-sm-2 control-label col-form-label">Image:</label>
                                                <div class="col-sm-4">
                                                  <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                                </div>
                                                <label for="CalibrationFreq" class="col-sm-2 control-label col-form-label">Calibration Frequency:</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form_control" id="CalibrationFreq" placeholder="">
                                                </div>
                                               
                                            </div>
                                           
                                          <div class="form-group row">
                                            <label for="URS No and Link" class="col-sm-2 control-label col-form-label">URS No & Link</label>
                                            <div class="col-sm-4">
                                              <input type="text" class="form_control" id="URS No and Link" placeholder=""> <br>
                                              <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                            </div>
                                            <label for="PO No. and Link" class="col-sm-2 control-label col-form-label">PO No. and Link:</label>
                                          <div class="col-sm-4">
                                            <input type="text" class="form_control" id="nominalLowerRange" placeholder=""> <br>
                                            <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                          </div>
                                        </div>
                                       
                                      <div class="form-group row">
                                        <label for="Delivery Date" class="col-sm-2 control-label col-form-label">Delivery Date:</label>
                                        <div class="col-sm-4">
                                          <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                        </div>
                                        <label for="Manufacturer’s Sr. No." class="col-sm-2 control-label col-form-label">Manufacturer’s Sr. No.:</label>
                                      <div class="col-sm-4">
                                          <input type="text" class="form_control" id="Manufacturer’s" placeholder="">
                                      </div>
                                    </div>
                                    
                                  <div class="form-group row">
                                    <label for="Criticality Level" class="col-sm-2 control-label col-form-label">Criticality Level:</label>
                                    <div class="col-sm-4">
                                      <select id="level">
                                        <option value="option1">1</option>
                                        <option value="option2">2</option>
                                        <option value="option3">3</option>
                                        <option value="option4">4</option>
                                      </select>
                                    </div>
                                    <label for="Equipment in charge" class="col-sm-2 control-label col-form-label">Equipment in charge:</label>
                                  <div class="col-sm-4">
                                      <input type="text" class="form_control" id="Equipment in charge" placeholder="">
                                  </div>
                                </div>
                              
                              <div class="form-group row">
                                <label for="Backup in charge" class="col-sm-2 control-label col-form-label">Backup in charge:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form_control" id="Backup in charge" placeholder="">
                                </div>
                                <label for="Service Engineer contact" class="col-sm-2 control-label col-form-label">Service Engineer contact:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form_control" id="Service Engineer contact" placeholder="">
                                </div>
                            </div>
                             </div>
                            </form> 
                            <div class="form-actions">
                              <div class="card-body">
                                  <div class="d-flex no-block align-items-center">
                                    <div class="ml-auto">
                                      <div class="custom-control custom-checkbox">
                                        <button type="submit" class="btn btn-cyan" (click)="gotoIcsMaster()">  
                                          <i class="ti-save"></i>  Save </button>
                                      <button type="button" class="btn btn-dark" (click)="gotoIcsMaster()"> <i class="ti-close"></i> Cancel</button>
                                    </div>
                                    </div>
                                </div>
                              </div>
                          </div>  
                           </ng-template>
                                    </ngb-tab>
                                    
                                    <ngb-tab id="tab-selectbyid2">
                                      <ng-template ngbTabTitle>Qualification</ng-template>
                                   
                                      <ng-template ngbTabContent>
                                        <br>
                                        <h6>*These are the initial qualification dates </h6>
                        <ejs-grid  [editSettings]='editSettings'  [toolbar]='toolbar' height='273px' [dataSource]='data' [allowSelection]='true' [gridLines]="lines"  [enableHover]='false'  [allowSorting]='true' e-gridheader=''>
                          <e-columns>
                          
                              <e-column field='QualificationType' headerText='Qualification Type' isPrimaryKey='true' width=120></e-column>
                              <e-column field='Date' headerText='Date' editType= 'datepickeredit' [edit]='dpParams' width=150></e-column>
                              <e-column field='Description' headerText='Description' textAlign= 'Left' width=80 format= 'C2'></e-column>
                              <e-column field='Link' headerText='Link' textAlign= 'Left' width=80 format= 'C2'></e-column>
                          </e-columns>
                          </ejs-grid>
                          <div class="form-actions">
                            <div class="card-body">
                                <div class="d-flex no-block align-items-center">
                                  <div class="ml-auto">
                                    <div class="custom-control custom-checkbox">
                                      <button type="submit" class="btn btn-cyan" (click)="gotoIcsMaster()">  
                                        <i class="ti-save"></i>  Save </button>
                                    <button type="button" class="btn btn-dark" (click)="gotoIcsMaster()"> <i class="ti-close"></i> Cancel</button>
                                  </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                                      </ng-template>
                                      
                                    </ngb-tab>

                                    <ngb-tab id="tab-selectbyid3">
                                      <ng-template ngbTabTitle>Calibration</ng-template>
                                      <ng-template ngbTabContent>
                                        <form class="form-horizontal">
                                          <div class="card-body">
                                        <div class="form-group row">
                                         
                                          <div class="custom-control custom-radio">
                                            <h6>Calibration Required?</h6>
                                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1">Yes</label>
<br>
                                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio2">No</label>
                                        </div>
                                         
                                      </div>
                                     
                                      <!-- <div class="form-group row"> -->
                                          <!-- <label for="Calibration report link" class="col-sm-2 control-label col-form-label">Calibration report link:</label> -->
                                          <!-- <div class="col-sm-4">
                                            <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                          </div> -->
                                          <!-- <label for="Annual Calibration date" class="col-sm-2 control-label col-form-label">Annual Calibration date:</label> -->
                                          <!-- <div class="col-sm-4">
                                            <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                          </div> -->
                                      </div>
                                      <!-- </div> -->
                                      
                                      </form>
                                      <div class="form-actions">
                                        <div class="card-body">
                                            <div class="d-flex no-block align-items-center">
                                              <div class="ml-auto">
                                                <div class="custom-control custom-checkbox">
                                                  <button type="submit" class="btn btn-cyan" (click)="gotoIcsMaster()">  
                                                    <i class="ti-save"></i>  Save </button>
                                                <button type="button" class="btn btn-dark" (click)="gotoIcsMaster()"> <i class="ti-close"></i> Cancel</button>
                                              </div>
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                                      </ng-template>
                                    </ngb-tab>

                                    <ngb-tab id="tab-selectbyid4">
                                      <ng-template ngbTabTitle>Maintenance</ng-template>
                                      <ng-template ngbTabContent>
                                        <!-- <form class="form-horizontal">
                                          <div class="card-body">
                                        <div class="form-group row">
                                          <label for="Warranty Due date" class="col-sm-2 control-label col-form-label">Warranty Due date:</label>
                                          <div class="col-sm-4">
                                            <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                          </div>
                                          <label for="AMC due date" class="col-sm-2 control-label col-form-label">AMC due date:</label>
                                          <div class="col-sm-4">
                                            <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                          </div>
                                      </div>
                                     
                                      <div class="form-group row">
                                          <label for="CMC Due date" class="col-sm-2 control-label col-form-label">CMC Due date:</label>
                                          <div class="col-sm-4">
                                            <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                            
                                          </div>
                                          <label for="PM Due date" class="col-sm-2 control-label col-form-label">PM Due date:</label>
                                          <div class="col-sm-4">
                                            <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                          </div>
                                      </div>
                                      </div>
                                      <div class="form-group row">
                                        <label for=">AMC, CMC, PM and WO link" class="col-sm-2 control-label col-form-label">AMC, CMC, PM and WO link:</label>
                                        <div class="col-sm-4">
                                          <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                        </div>
                                        <label for="Service report:" class="col-sm-2 control-label col-form-label">Service report::</label>
                                        <div class="col-sm-4">
                                          <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                        </div>
                                    </div>
                                
   
                                      </form> -->

                                                       
                        <ejs-grid  [editSettings]='editSettings' [toolbar]='toolbar' height='273px' [dataSource]='data' [allowSelection]='true' [gridLines]="lines"  [enableHover]='false'  [allowSorting]='true' e-gridheader=''>
                          <e-columns>
                              <!-- <e-column field='SrNo' headerText='SrNO' textAlign='Left' isPrimaryKey='true' width=50></e-column> -->
                              <e-column field='MaintenanceType' headerText='Maintenance Type' isPrimaryKey='true' width=120></e-column>
                
                              <e-column field='Frequency' headerText='Frequency ( In Month)' textAlign= 'Left' width=80 format= 'C2'></e-column>
                          </e-columns>
                          </ejs-grid>
                          <div class="form-actions">
                            <div class="card-body">
                                <div class="d-flex no-block align-items-center">
                                  <div class="ml-auto">
                                    <div class="custom-control custom-checkbox">
                                      <button type="submit" class="btn btn-cyan" (click)="gotoIcsMaster()">  
                                        <i class="ti-save"></i>  Save </button>
                                    <button type="button" class="btn btn-dark" (click)="gotoIcsMaster()"> <i class="ti-close"></i> Cancel</button>
                                  </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                                      </ng-template>
                                    </ngb-tab>

                                    <ngb-tab id="tab-selectbyid5">
                                      <ng-template ngbTabTitle>Reports</ng-template>
                                      <ng-template ngbTabContent>
                                        <form class="form-horizontal">
                                          <div class="card-body">
                                        <div class="form-group row">
                                          <label for="SOPs attachment" class="col-sm-2 control-label col-form-label">SOPs attachment:</label>
                                          <div class="col-sm-4">
                                            <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                          </div>
                                          <label for="Scrap note and link" class="col-sm-2 control-label col-form-label">Scrap note and link:</label>
                                          <div class="col-sm-4">
                                            <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                          </div>
                                      </div>
                                     
                                      <div class="form-group row">
                                          <label for="Other Docs and Link" class="col-sm-2 control-label col-form-label">Other Docs and Link:</label>
                                          <div class="col-sm-4">
                                            <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                            
                                          </div>
                                        
                                      </div>
                                      </div>
                                    
                                       <div class="form-actions">
                                        <div class="card-body">
                                            <div class="d-flex no-block align-items-center">
                                              <div class="ml-auto">
                                                <div class="custom-control custom-checkbox">
                                                  <button type="submit" class="btn btn-cyan" (click)="gotoIcsMaster()">  
                                                    <i class="ti-save"></i>  Save & Submit</button>
                                                
                                                  <button type="button" class="btn btn-dark" (click)="gotoIcsMaster()"> <i class="ti-close"></i> Cancel</button> 
                                             
                                                </div>
                                              </div>
                                          </div>
                                        </div>
                                    </div> 
                                      
                                      </form>

                                      </ng-template>
                                    </ngb-tab>

                          


                                  </ngb-tabset>
                                
                                  </div>
                                  </div>
                                  </div>
                    </div>


                    <!-- <div class="form-actions">
                        <div class="card-body">
                            <div class="d-flex no-block align-items-center">
                              <div class="ml-auto">
                                <div class="custom-control custom-checkbox">
                                  <button type="submit" class="btn btn-cyan" (click)="gotoIcsMaster()">  
                                    <i class="ti-save"></i>  Save </button>
                                <button type="button" class="btn btn-dark" (click)="gotoIcsMaster()"> <i class="ti-close"></i> Cancel</button>
                              </div>
                              </div>
                          </div>
                        </div>
                    </div> -->
                <!-- </div>
            </form>
        </div>
    </div>
  </div> -->
  <!-- Row -->
  