

                    <div class="row">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-body">
                                  <h3 class="card-title">Add Instrument</h3>
                                  <ngb-tabset #t="ngbTabset">

                                    <ngb-tab id="tab-selectbyid1" title="Master">
                                      <ng-template ngbTabContent>

                                        <form class="form-horizontal">
                                          <div class="card-body">
                                              <div class="form-group row">
                                                  <label for="Equipment ID" class="col-sm-2 control-label col-form-label">Equipment ID:</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" class="form-control" id="parameter" placeholder="">
                                                  </div>
                                                  <label for="Equipment Name" class="col-sm-2 control-label col-form-label">Equipment Name:</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" class="form-control" id="nominalValue" placeholder="">
                                                  </div>
                                              </div>
                                             
                                              <div class="form-group row">
                                                  <label for="Make" class="col-sm-2 control-label col-form-label">Make:</label>
                                                  <div class="col-sm-4">
                                                      <input type="email" class="form-control" id="nominalUpperRange" placeholder="">
                                                  </div>
                                                  <label for="Model" class="col-sm-2 control-label col-form-label">Model:</label>
                                                  <div class="col-sm-4">
                                                      <input type="text" class="form-control" id="nominalLowerRange" placeholder="">
                                                  </div>
                                              </div>
                                             

                                              <div class="form-group row">
                                                <label for="Image" class="col-sm-2 control-label col-form-label">Image:</label>
                                                <div class="col-sm-4">
                                                  <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                                </div>
                                               
                                            </div>
                                           
                                          <div class="form-group row">
                                            <label for="URS No. and Link" class="col-sm-2 control-label col-form-label">URS No. and Link:</label>
                                            <div class="col-sm-4">
                                              <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                            </div>
                                            <label for="PO No. and Link" class="col-sm-2 control-label col-form-label">PO No. and Link:</label>
                                          <div class="col-sm-4">
                                            <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                          </div>
                                        </div>
                                       
                                      <div class="form-group row">
                                        <label for="Delivery Date" class="col-sm-2 control-label col-form-label">Delivery Date:</label>
                                        <div class="col-sm-4">
                                          <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                        </div>
                                        <label for="Manufacturer’s Sr. No." class="col-sm-2 control-label col-form-label">Manufacturer’s Sr. No.:</label>
                                      <div class="col-sm-4">
                                          <input type="text" class="form-control" id="parameter" placeholder="">
                                      </div>
                                    </div>
                                    
                                  <div class="form-group row">
                                    <label for="Criticality Level" class="col-sm-2 control-label col-form-label">Criticality Level:</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="parameter" placeholder="">
                                    </div>
                                    <label for="Equipment in charge" class="col-sm-2 control-label col-form-label">Equipment in charge:</label>
                                  <div class="col-sm-4">
                                      <input type="text" class="form-control" id="parameter" placeholder="">
                                  </div>
                                </div>
                              
                              <div class="form-group row">
                                <label for="Backup in charge" class="col-sm-2 control-label col-form-label">Backup in charge:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="parameter" placeholder="">
                                </div>
                                <label for="Service Engineer contact" class="col-sm-2 control-label col-form-label">Service Engineer contact:</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="parameter" placeholder="">
                                </div>
                            </div>
                             </div>
                            </form>    </ng-template>
                                    </ngb-tab>
                                    
                                    <ngb-tab id="tab-selectbyid2">
                                      <ng-template ngbTabTitle>Qualification</ng-template>
                                      <ng-template ngbTabContent>
                                        <form class="form-horizontal">
                                          <div class="card-body">
                                        <div class="form-group row">
                                          <label for="Date Of Installation" class="col-sm-2 control-label col-form-label">Date Of Installation:</label>
                                          <div class="col-sm-4">
                                            <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                          </div>
                                          <label for="Qualification Date - PV" class="col-sm-2 control-label col-form-label">Qualification Date - PV:</label>
                                          <div class="col-sm-4">
                                            <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                          </div>
                                      </div>
                                     
                                      <div class="form-group row">
                                          <label for="IQ/OQ/PQ/IO/OP attachments" class="col-sm-2 control-label col-form-label">IQ/OQ/PQ/IO/OP attachments:</label>
                                          <div class="col-sm-4">
                                            <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                          </div>
                                          <label for="Annual PV link" class="col-sm-2 control-label col-form-label">Annual PV link:</label>
                                          <div class="col-sm-4">
                                            <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                          </div>
                                      </div>
                                      </div>
                                      
                                      </form>
                                      </ng-template>
                                    </ngb-tab>

                                    <ngb-tab id="tab-selectbyid3">
                                      <ng-template ngbTabTitle>Calibration</ng-template>
                                      <ng-template ngbTabContent>
                                        <form class="form-horizontal">
                                          <div class="card-body">
                                        <div class="form-group row">
                                         
                                          <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1">Calibration Radio</label>
                                        </div>
                                          <label for="Annual Calibration date" class="col-sm-2 control-label col-form-label">Annual Calibration date:</label>
                                          <div class="col-sm-4">
                                            <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                          </div>
                                      </div>
                                     
                                      <div class="form-group row">
                                          <label for="Calibration report link" class="col-sm-2 control-label col-form-label">Calibration report link:</label>
                                          <div class="col-sm-4">
                                            <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                          </div>
                                          
                                      </div>
                                      </div>
                                      
                                      </form>
                                      </ng-template>
                                    </ngb-tab>

                                    <ngb-tab id="tab-selectbyid4">
                                      <ng-template ngbTabTitle>Maintenance</ng-template>
                                      <ng-template ngbTabContent>
                                        <form class="form-horizontal">
                                          <div class="card-body">
                                        <div class="form-group row">
                                          <label for="Warranty Due date" class="col-sm-2 control-label col-form-label">Warranty Due date:</label>
                                          <div class="col-sm-4">
                                            <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                          </div>
                                          <label for="AMC due date" class="col-sm-2 control-label col-form-label">AMC due date:</label>
                                          <div class="col-sm-4">
                                            <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                          </div>
                                      </div>
                                     
                                      <div class="form-group row">
                                          <label for="CMC Due date" class="col-sm-2 control-label col-form-label">CMC Due date:</label>
                                          <div class="col-sm-4">
                                            <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                            
                                          </div>
                                          <label for="PM Due date" class="col-sm-2 control-label col-form-label">PM Due date:</label>
                                          <div class="col-sm-4">
                                            <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                          </div>
                                      </div>
                                      </div>
                                      <div class="form-group row">
                                        <label for=">AMC, CMC, PM and WO link" class="col-sm-2 control-label col-form-label">AMC, CMC, PM and WO link:</label>
                                        <div class="col-sm-4">
                                          <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                        </div>
                                        <label for="Service report:" class="col-sm-2 control-label col-form-label">Service report::</label>
                                        <div class="col-sm-4">
                                          <ejs-datepicker [value]='dateValue' placeholder='Enter date'></ejs-datepicker>
                                        </div>
                                    </div>
                                
   
                                      </form>
                                      </ng-template>
                                    </ngb-tab>

                                    <ngb-tab id="tab-selectbyid5">
                                      <ng-template ngbTabTitle>Reports</ng-template>
                                      <ng-template ngbTabContent>
                                        <form class="form-horizontal">
                                          <div class="card-body">
                                        <div class="form-group row">
                                          <label for="SOPs attachment" class="col-sm-2 control-label col-form-label">SOPs attachment:</label>
                                          <div class="col-sm-4">
                                            <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                          </div>
                                          <label for="Scrap note and link" class="col-sm-2 control-label col-form-label">Scrap note and link:</label>
                                          <div class="col-sm-4">
                                            <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                          </div>
                                      </div>
                                     
                                      <div class="form-group row">
                                          <label for="Other Docs and Link" class="col-sm-2 control-label col-form-label">Other Docs and Link:</label>
                                          <div class="col-sm-4">
                                            <ejs-uploader #defaultupload [autoUpload]='false' [dropArea]='dropEle' [asyncSettings]='path' (success)="onUploadSuccess($event)" (failure)="onUploadFailure($event)"></ejs-uploader>
                                            
                                          </div>
                                        
                                      </div>
                                      </div>
                                    
                                      
                                      
                                      </form>

                                      </ng-template>
                                    </ngb-tab>

                          


                                  </ngb-tabset>
                                  </div>
                                  </div>
                                  </div>
                    </div>


                    <div class="form-actions">
                        <div class="card-body">
                            <div class="d-flex no-block align-items-center">
                              <div class="ml-auto">
                                <div class="custom-control custom-checkbox">
                                  <button type="submit" class="btn btn-danger" (click)="gotoIcsMaster()">
                                    <i class="fa fa-pencil"></i> Submit</button>
                                <button type="button" class="btn btn-dark" (click)="gotoIcsMaster()">Cancel</button>
                              </div>
                              </div>
                          </div>
                        </div>
                    </div>
                <!-- </div>
            </form>
        </div>
    </div>
  </div> -->
  <!-- Row -->
  