<div class="row">
    <div class="col-lg-12">
        <div class="card">
          <div class="c_header">
            <h4>Add Parameter</h4>
                            </div>
            <div class="card-body">
              <!-- <div class="d-flex no-block align-items-center">
                <h4 class="card-title"></h4>
            </div>
            
            <button class="mr-2 dropdown_style" ejs-dropdownbutton [items]='items' content='Instrument Id' ></button>
            <button class="mr-2 dropdown_style" ejs-dropdownbutton [items]='items1' content='Instrument Name'></button>
             <a class="btn btn-warn" >  <i class="fas fa-plus-circle" style="color: cadetblue;"></i> Add Parameter</a> -->
            <!-- <button  class="btn-btn-info mr-2 float-right btn_style"><i class="ti-export"></i> Export</button>
            <button  class="btn-btn-info mr-2 float-right btn_style" (click)="addparameter(addParameterModal)"><i class="fas fa-plus-circle"></i>Add Parameter</button>
            
            <hr> --> 
            <div class="d-flex no-block align-items-center">
                <h4 class="card-title"> </h4>
                <div class="ml-auto mb-2">
                    <button  class="btn-btn-info mr-2 float-right btn_style"><i class="ti-export"></i> Export</button>
                    <button class="btn-btn-info mr-2 float-right btn_style" (click)="addparameter(addParameterModal)"><i class="fas fa-plus-circle"></i>  Add Parameter</button>
                    <!-- style="background-color: #83b3cf;border:none;color:white;"style="background-color: #86cf94;border:none;color:white;" -->
                </div>
            </div>
            <div class="table-responsive">
                <ejs-grid [dataSource]='data' [allowSelection]='true' allowFiltering='true'[filterSettings]='filterOptions' [gridLines]="lines"  [enableHover]='false'  [allowSorting]='true' e-gridheader=''height='350px'>
                    <e-columns>
                      <e-column  headerText='Action' textAlign='center' width='70'>
                        <ng-template #template let-data>
                            <div class="loc">
                              <button cssClass='small'  ejs-button (click)="editParameter()">  <span class="e-icons e-edit"></span></button>
                            </div>
                        </ng-template>
                    </e-column>
                  <e-column field='SrNo' headerText='Sr. No.' textAlign='center' width=70></e-column>
                  <e-column field='ParameterName' headerText='Parameter Name' textAlign='center' width=90></e-column>
                  <e-column field='TargetValue' headerText='Target Value' textAlign='center' format='C2' width=90></e-column>
                  <e-column field='UpperRange' headerText='Upper Range' textAlign='center' format='yMd' width=90></e-column>
                  <e-column field='LowerRange' headerText='Lower Range' textAlign='center' width=90></e-column>
                  </e-columns>
                  </ejs-grid>
          </div>
        </div>
      </div>
    </div>
</div>



<ng-template #addParameterModal let-modal>
    <div class="modal_header">
      <!-- <div style="background-color: rgb(63,152,235); padding-top:10px; height: 40px;">
        <h4 style="margin-left:10px;">Add Parameter</h4>
                        </div> -->
      <h6 class="modal-title">Add Parameter</h6> 
      <button type="button" class="close" aria-label="close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
       <form class="form-horizontal">
        <div class="card-body">
            <div class="form-group row">
                <label for="ParameterName" class="col-sm-8 control-label col-form-label">Parameter Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="Parameter" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="TargetValue" class="col-sm-8 control-label col-form-label">Target Value:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="TargetValue" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="UpperRange" class="col-sm-8 control-label col-form-label">Upper range :</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="UpperRange" placeholder="">
                </div>
            </div>
            <div class="form-group row">
                <label for="LowerRange" class="col-sm-8 control-label col-form-label">Lower range :</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="LowerRange" placeholder="">
                </div>
            </div>
        </div>
      </form> 
     
    </div>
    <div class="modal-footer">
      <button class="btn-btn-info btn_style">Add</button>
      <button class="btn-btn-info btn_style"(click)="modal.close('Close click')">Cancel</button>
      <!-- <button type="button" class="btn btn-info waves-effect waves-light">Add</button> -->
      
    <!-- <button type="button" class="btn btn-info waves-effect waves-light" (click)="modal.close('Close click')">Cancel</button> -->
    </div>
</ng-template>



