/* You can add global styles to this file, and also import other style files */
/* @use "@material/textfield/mdc-text-field"; */
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800");
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-grids/styles/material.css";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";

/* Calendar */
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-filemanager/styles/material.css';

/* #toaster */
   #toast-container > div {
    opacity: 1;
  }
   .c_header{                              /* style for each menu header */
    background-color: rgb(63,152,235);
    padding-top:10px; height: 40px;

}
.c_header h4{
  margin-left:10px;
  color : white;
}
.modal_header{                               /* style for each popup modal header */
  background-color: rgb(63,152,235);
  padding-top:10px 0px; height: 40px;
}
.modal_header h6{
  margin-left:10px;
  color : white;
  margin-top: 8px;
  /* line-height: 1.5px; */
}
.btn_style{
  color: rgba(10, 118, 190, 0.822);

}
.dropdown_style{
  color: rgba(10, 118, 190, 0.822);
}
